@model Capstone.Models.LocalPasswordModel

<h2>Change password</h2>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <div>@Html.LabelFor(m => m.OldPassword)</div>
        <div>@Html.PasswordFor(m => m.OldPassword)</div>

        <div>@Html.LabelFor(m => m.NewPassword)</div>
        <div>@Html.PasswordFor(m => m.NewPassword)</div>

                <div>@Html.LabelFor(m => m.ConfirmPassword)</div>
                <div>@Html.PasswordFor(m => m.ConfirmPassword)</div>

        <input type="submit" value="Change password" />
    </fieldset>
}
